<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容" 
                    v-model='valin'
                    @keyup.13='add'
                >
            </header>
            <section class="main">
                <input class="toggle-all" type="checkbox" 
                    v-model="allonoff" 
                    @click="all"
                >
                <ul class="todo-list">
                    <li 
                        :class="{editing:val.onoff===true,completed:val.checked===true}" 
                        v-for="(val,key) in setAry" 
                        :key="val.id"
                    >
                    <!-- :key="val.id" -->
                        <div class="view">
                            <input class="toggle" type="checkbox" 
                                v-model="val.checked"
                            >
                            <label @dblclick="dbclk(val,key)">{{val.txt}}</label>
                            <button class="destroy" @click="del(key)"></button>
                        </div>
                        <input
                            class="edit"
                            v-model="changetxt"
                            ref="input"
                            @blur="blur(val,$event)"
                            @keyup.esc="esc(val)"
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer" v-show="ary.length">
	            <span class="todo-count">
	            	<strong>{{sel}}</strong>
	            	<span>条未选中</span>
                </span>
                <ul class="filters">
                    <li>
                        <a  href="#/all" 
                            :class="a==0?'selected':''"
                            @click="filters(0)"
                        >全部</a>
                    </li>
                    <li>
                        <a  href="#/unchecked" 
                            :class="a==1?'selected':''"
                            @click="filters(1)"
                        >未选中</a>
                    </li>
                    <li>
                        <a  href="#/checked"
                            :class="a==2?'selected':''"
                            @click="filters(2)"
                        >已选中</a>
                    </li>
                </ul>
            </footer>
        </div>
        {{ary}}
    </section>
<script src="../../vue.js"></script>
<script>
    //editing ：双击切换li显示的class名
    //completed ：删除线的class名

    new Vue({
        el:'.todoapp',
        data:{ 
            valin:'', // 输入的数据
            changetxt:'', 
            allonoff:false, //全选判断
            a:'0',
            // isblur:false, // 解决失焦与esc冲突问题
            ary:[ 
                {
                    id:0,
                    txt:'哈哈',
                    checked:true,
                    onoff:false
                },
                {
                    id:1,
                    txt:'呵呵',
                    checked:false,
                    onoff:false
                }
            ]
        },
        computed:{
            // 选中的数量
            sel(){
                let {ary} = this;
                return ary.filter((e)=>e.checked === false).length
            },
            // 筛选的数据
            setAry(){
                const {a,ary} = this;
                return ary.filter((e,i)=>{
                    switch(a){
                        case 0:
                            return e;
                        case 1:
                            return e.checked === false; 
                        case 2:
                            return e.checked === true;
                        default:
                            return e;
                    }
                })
            },
            // 全选中
            // checkall(){
            //     const {ary} = this;
            //     console.log(1);
                
            //     // 如果数据都删除，全选就不选中(全删除时最后一个li不触发这里)
            //     this.allonoff = ary.length && ary.every((e)=>e.checked === true);
            //     // console.log(ary.every((e)=>e.checked === true));
            //     return this.allonoff;
            // },
        },
        watch:{
            // 全选中
            ary:{
                handler(){
                    const {ary} = this;

                    // 如果数据都删除，全选就不选中
                    this.allonoff = ary.length && ary.every((e)=>e.checked === true);
                    // console.log(ary.every((e)=>e.checked === true));
                    return this.allonoff;
                },
                deep:true, // 深度监听
                immediate: true // 上来就执行一次
            }
        },
        methods:{
            // 增加数据
            add(){
                if(this.valin==='') return
                this.ary.unshift({
                    id:Date.now(),
                    txt:this.valin,
                    checked:false,
                    onoff:false
                });
                this.valin='';
            },
            // 双击更改内容
            dbclk(val,key){
                val.onoff = true;
                // this.isblur = false; 
                this.changetxt = val.txt;
                //input元素获取焦点
                this.$nextTick((x) => { //延迟回调，在修改数据DOM更新之后执行
                    // console.dir(this.$refs.input[key])
                    this.$refs.input[key].select();
                })
            },
            // 失焦更改内容
            blur(val,ev){
                // 判断是否是esc触发的，并且修改的名字是否为空
                // if(!this.isblur&&this.changetxt) {
                //     val.txt = this.changetxt;
                // }

                // 判断修改的名字是否为空
                if(this.changetxt) {
                    val.txt = this.changetxt;
                }
                val.onoff = false;
            },
            // esc还原内容
            esc(val){
                // this.isblur = true; // 设置一个变量，用来在失焦中判断是否是触发的esc
                // setTimeout(()=>{
                //     this.isblur = false; // 把值改回初始，避免失焦失败；也可以在双击时更改
                // },100)
                this.changetxt = val.txt; // 把要修改的值赋值为原始值，避免esc自动触发失焦时更改值
                val.onoff = false;
            },
            // 全选按钮
            all(){
                this.allonoff = !this.allonoff;
                this.ary.map(i=>i.checked=this.allonoff)
            },
            // 删除
            del(key){
                this.ary = this.ary.filter((e,i)=>i!==key)
            },
            // 筛选
            filters(a){
                this.a = a;
            }, 
        } 
    })
</script>
</body>
</html>
