<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容" 
                    v-model='valin'
                    @keyup.13='add'
                >
            </header>
            <section class="main">
                <input class="toggle-all" type="checkbox" >
                <ul class="todo-list">
                    <li class="active" v-for="(val,key) in ary">
                        <div class="view" v-show="!val.onoff">
                            <input class="toggle" type="checkbox" v-model="val.checked">
                            <label 
                                @dblclick="dbclk(val)" 
                                v-bind:pip="val.id">{{val.txt}}
                            </label>
                            <button class="destroy"></button>
                        </div>
                        <input
                            class="editing"
                            value="val.txt"
                            v-show="val.onoff"
                            v-model="changetxt"
                            @blur="blur(val)"
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer">
	            <span class="todo-count">
	            	<strong>0</strong>
	            	<span>条未选中</span>
                </span>
                <ul 
                    class="filters"
                >
                    <li>
                        <a 
                            href="#/all" 
                            class="selected"
                           
                        >全部</a>
                    </li>
                    <li>
                        <a 
                            href="#/unchecked" 
                            
                            class=""
                        >未选中</a>
                    </li>
                    <li>
                        <a 
                            href="#/checked"
                            class=""
                        >已选中</a>
                    </li>
                </ul>
            </footer>
        </div>
    </section>
<script src="../../vue.js"></script>
<script>
    // editing completed
    // editing ''
    // ''
    //completed

    new Vue({
        el:'.todoapp',
        data:{ 
            valin:'', // 输入的数据
            ary:[ 
                {
                    id:0,
                    txt:'哈哈',
                    checked:true,
                    onoff:false
                },
                {
                    id:1,
                    txt:'呵呵',
                    checked:false,
                    onoff:false
                }
            ],
            changetxt:''
        },
        methods:{
            add(){
                this.ary.unshift({
                    id:new Date,
                    txt:this.val,
                    checked:false,
                    onoff:false
                });
                this.valin='';
            },
            dbclk(val){
                val.onoff=!val.onoff;
                this.changetxt=val.txt;
            },
            blur(val){
                val.txt=this.changetxt;
                val.onoff=!val.onoff

            }
        }
            
    })
</script>
</body>
</html>
