<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>v-model</p>
        清除空格<input type="text" v-model.trim="val" @input="fn"> <!-- .trim，清除前后空格 -->
        转数字<input type="text" v-model.number="val" @input="fn"> <!-- .number，parseFloat转数字，如果开始不是数字就不转 -->
        把oninput转成onchange<input type="text" v-model.lazy="val"> <!-- .lazy，把输入就监听转成失焦监听 -->
        onchange事件<input type="text" @change="fn" v-model="val">
       <p> {{val}} </p>
       <hr>
       <input type="checkbox" v-model="b"> <!-- 根据布尔值改变选择状态 -->
       <p>{{b}}</p>
       <hr />
       <!-- <input type="text" v-model="ary" >1111<br> -->
       <input type="checkbox" v-model="ary" value="1111">1111<br>
       <input type="checkbox" v-model="ary" value="2222">2222<br>
       <input type="checkbox" v-model="ary" value="3333">3333<br>
       <p>{{ary}}</p>
       <hr />
       男:<input value="0" type="radio" v-model="num" @click="log1"> <!--  -->
       女:<input value="1" type="radio" v-model="num" @click="log2">
       <p>{{ary2[num]}}</p>
       <hr>
       <input 
            type="text" 
            v-model="val"
            @keyup.13="add"
        />
        <!-- @input="change" id="txt"-->
        <button
            @click="add"
        >点击</button>
        <ul>
            <li 
                v-for="(val,key) in ary"
                @click="rm(key)"
            >{{val}}</li>
        </ul>
    </div>
<script src="vue.js"></script>
<script>
    /*
        双向数据绑定（数据驱动视图，视图也可以改变数据）
        绑v-model的目的就是想让用户操作界面的时候，顺便帮我操作数据
        只要是遇到了表单元素，就要思考一下是否使用v-model
    */
    new Vue({
        el:"#app",
        data:{
            val:'',
            b:true,
            ary:[],
            ary2:['男','女'],
            num:'',
        },
        methods:{
            fn(){
                console.log(this.val);
            },
            log1(){
                setTimeout(()=>{
                    console.log(this.num);
                })
            },
            log2(){
                setTimeout(()=>{
                    console.log(this.num);
                })
            },
            
            add(){
                this.ary.push(this.val);
                this.val = '';
            },
            rm(key){
                this.ary = this.ary.filter((e,index)=>index!==key);
            }
        }
    })

</script>
</body>
</html>